
:root{
  --color-background: #FFF9EB;
  --color-green-default: #1b8070;
  --color-black: #070707;
}
html, body{
  font-family: 'RobotoSlab','Rubik', san-serif;
  width: 1440px;
  background-color: var(--color-background);
}

