.colLogo{
  display: flex;
  justify-content: center;
  align-itens: center;
  width: 318px;
  height: 261px;
}
.img-logo{
  display: flex;
  justify-content: center;
  align-itens: center;
  width: 318px;
  height: 261px;
}
.navLink{
  font-weight: bold;
  font-size: 20px;
  /* padding: 0 3rem; */
  margin-left :3rem;
}

#navLinkimg span{
  margin-right: 12px;
}

#basic-navbar-nav .navLink  img{
  margin-top: .5rem;
  padding: 0px;
  width: 80px;
  
}
/* #login{
  margin-left: 20px;
} */

#navLogin i{
  font-size: 25px;
}

